        <form id="slick-login" action="/index/register" method="POST">
        <label for="username">username</label><input type="text" name="username" class="placeholder" placeholder="username">
        <label for="email">email</label><input type="text" name="email" class="placeholder" placeholder="me@example.com">
        <label for="password">password</label><input type="password" name="password" class="placeholder" placeholder="password">
        <input type="submit" value="register">
        </form>
        {% endif %}
    <form action="" method="post">