{% extends "base3.html" %}
{% block body_block %}
<table>
<tbody>
<tr>
      <td valign="top"><img src="{{ who.profile_image_url }}" alt="头像" class="por" /></td>
      <td valign="top">
       <div class="ut">
        <span class="ctt">{{ who.screen_name }}
        {% if verified %}
        	<img src="http://u1.sinaimg.cn/upload/2011/07/28/5338.gif" alt="V" />
        {% endif %}
        &nbsp;{{who.gender}}/{{  who.place }} &nbsp; </span>
        <br />
        <span class="ctt" style="word-break:break-all; width:50px;">{{ url }} {{ who.blog_address }}</span>
        <br />
        <a href="http://weibo.cn/{{ who.weibo_id }}/info">资料</a>&nbsp;
       </div></td>
     </tr>
</tbody>
</table>
<span class="label label-warning">微博</span>   [{{ who.tc }}]
<span class="label label-success">关注</span>   [{{ who.follow }}]
<span class="label label-info">粉丝</span>   [{{  who.fans }}]
<br/>
<br/>
<span class="label label-warning">新增微博</span>   {{ who.tc_add }}
<br/>
<span class="label label-success">新增关注</span>   {{ who.follow_add }}
<br/>
<span class="label label-info">新增粉丝</span>   {{  who.fans_add }}
<tr/>
<iframe class="pms" src="/index/weibo/" width="980px" frameborder="0" height="400px"></iframe>

{% endblock body_block %}}
