{% extends "base.html" %}

{% block body_block %}


</div>

<div>
	
	{% for info in infos %}
		<h4><span class="label label-danger">等级: {{ info.level }}</span></h4>
		<span class="list-group-item list-group-item-success">地址: {{ info.place }}            -- 感情状态: {{ info.relationship }}            -- 星座: {{ info.constellation}}</span>   
		<span class="list-group-item list-group-item-success">邮箱: {{ info.mail }}            -- 博客: {{ info.blog_address }}</span>   
		<span class="list-group-item list-group-item-success">简介: {{ info.brief_introduction }} </span>   
	{% endfor %}
</div>



<div>
	<center>
	{% for counter  in counters %}
		<span class="label label-warning">微博</span>   [{{ counter.tc }}]
		<span class="label label-success">关注</span>   [{{ counter.follow }}]
		<span class="label label-info">粉丝</span>   [{{  counter.fans }}]
		<br>
		<br>
	{% endfor %}
	</center>
</div>
 	<li><a href="/index/login/">Login</a></li>
 	<li><a href="/index/search/">sreach</a></li>
 	<li><a href="/index/register/">register</a></li>
<div>
	<center>
	<h1>
	<a class="navbar-brand hidden-sm" href="/index/login/" > test1 </a>
	<br>
	<a href="/index/test/"> test2 </a>
	<br>
	<a href="/index"> index</a>
	</h1>
	<br>
</center>
{% endblock body_block %}}
