{% extends "base3.html" %}
{% load static %}
{% block title_block %}Login to followGirl{% endblock %}
    <meta charset="utf-8">
    <meta name="description" content="slick Login">
    <meta name="author" content="Webdesigntuts+">
    <link rel="stylesheet" type="text/css" href="static" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://www.modernizr.com/downloads/modernizr-latest.js"></script>
    <script type="text/javascript" src="placeholder.js"></script>

{% block body_block %}
    <form id="slick-login" action="/" method="POST">
        <label for="username">username</label><input type="text" name="username" class="placeholder" placeholder="me@tutsplus.com">
        <label for="password">password</label><input type="password" name="password" class="placeholder" placeholder="password">
        <input type="submit" value="Log In">
    </form>
{% endblock %}