{% extends "base3.html" %}

{% block title %}Register with floowGirl{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <br/>

    <div class="container">
        {% if registered %}
        <p> Thank you for registering.
        <p><a href="/index/login/">Login</a> when you are ready.</p>
        {% else %}
    <form id="slick-login" action="" method="post" class="placeholder">
        <div>
            {{ form.username }}
            {{ form.subject.errors }}
        </div>
        <div>
            <span>{{ form.email }}</span>{{ form.email.errors }}
        </div>
        <div>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <input type="submit" value="注册">
    </form>
    {%endif%}
</div>
{% endblock %}
