{% extends "base.html" %}

{% block title %}Login to followGirl{% endblock %}

{% block body_block %}
 <h3><span class="label label-success">who want follow!</span></h3>
  <div class="pms">
   <form action="/index/find/" method="post">
    <div>
     <input type="text" name="keyword" value="" />
     <input type="hidden" name="suser" value="2" />
     <input type="submit" value="找人" />
    </div>
   </form>
   </div>

<div>
   {% if id %}
   <p>
   <img src={{ profile_image_url }} >
   微博昵称:{{ screen_name }}
   地址:{{location}}
   性别:{{ gender }}
   <br/>
  关注:{{ follow }}
  粉丝:{{ fans }}
  微博:{{ tc }}
   </p>
   {% endif %}
</div>
<form action="/index/save_id/" method="post">
    <div>
      {% if if_followed %}
   <p>
     this have followed!
   </p>
   {% endif %}
     <input type="hidden" name="id" value="{{id}}:{{screen_name}}:{{location}}:{{ gender }}:{{ follow }}:{{ fans }}:{{ tc }}:{{ profile_image_url }}:{{url}}" />
     <input type="submit" value="开始尾随" />
    </div>
   </form>
  </div>

{% endblock body_block %}}